<h1 style="color:green">hello</h1>
<h1 [ngStyle]="{'color':'yellow'}">hi</h1>
<h1 [ngStyle]="{'background-color':bgcolor==='black'?'black':'gray'}">hello</h1>
<h1 [ngStyle]="{'border':'5px solid black'}">ramanath</h1>
<hr/>

<h1 [ngClass]="'change'">hello</h1>
<h1 [ngClass]="'change change1'">hello mr ramanath</h1>
<h1 [ngClass]="'style'">how are u</h1>
<h1 [ngClass]="style==='font'?'background-color':'change'">whatsup</h1>
<hr/>
<br/>


<h1 appHighlight>ramanath</h1>

<hr/>
<h1 appHighlight>{{'upper'|uppercase}}</h1>
<h1>{{'LOWER'|lowercase}}</h1>
<h1 appHighlight>{{'123'|currency}}</h1>
<h1  [ngStyle]="{'background-color':bgcolor==='black'?'black':'red'}">{{datte}}</h1>
<h1>{{'0.0090' | percent}}</h1>
<hr/>
<h1>{{'123'|currency:'INR'}}</h1>
<h1 [ngStyle]="{'font-size':'65px'}">{{datte |date:'long'}}</h1>
<h1>{{datte |date:'short'}}</h1>
<h1>{{datte |date:'dd-MM-YY'}}</h1>
<hr/>
<h1 [ngStyle]="{'border':'5px solid black'}">{{datte |date:'long'|uppercase}}</h1>
<hr/>
<app-login></app-login>